# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\EnglishPath\spring-boot-elasticsearch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
